MA 574/Assignment notes/Pre Class Assignments/Pre-class Assignment 1.pdf
MA 574/Books/CalculusVolume3-OP_mktoy8b.pdf
CS 584/Homework/HW2/Archive/A2_Parate_Akshay.zip
CS 584/Homework/HW2/Archive/Archive/a2-data/books.txt
CS 584/Homework/HW2/Archive/Archive/a2-data/imdb_review.pickle
CS 584/Homework/HW2/Archive/Archive/a2-data/word2vec_train_file.txt
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords.zip
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/arabic
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/azerbaijani
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/basque
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/bengali
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/catalan
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/chinese
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/danish
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/dutch
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/english
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/finnish
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/french
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/german
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/greek
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/hebrew
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/hinglish
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/hungarian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/indonesian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/italian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/kazakh
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/nepali
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/norwegian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/portuguese
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/README
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/romanian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/russian
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/slovene
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/spanish
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/swedish
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/tajik
CS 584/Homework/HW2/Archive/Archive/a2-data/nltk/corpora/stopwords/turkish
CS 584/Homework/HW2/Archive.zip
CS 584/Homework/HW3/CS584-A3-code-data/__MACOSX/a3-data/._input.txt
CS 584/Homework/HW3/CS584-A3-code-data/__MACOSX/a3-data/._train.txt
CS 584/Homework/HW3/CS584-A3-code-data/__MACOSX/a3-data/._valid.txt
CS 584/Homework/HW4/A4_AkshayParate.zip
CS 584/Homework/HW4/a4-code-data.zip
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._a4-data.zip
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._CoLab.md
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._CS584_Assignments_S24.pdf
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._CS584A_Assignment4.ipynb
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._README.md
CS 584/Homework/HW4/A4_AkshayParate/__MACOSX/._requirements.txt
CS 584/Homework/HW4/A4_AkshayParate/a4-data/en_tokenizer.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/fr_tokenizer.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/__MACOSX/._a4-data
CS 584/Homework/HW4/A4_AkshayParate/a4-data/__MACOSX/a4-data/._en_tokenizer.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/__MACOSX/a4-data/._fr_tokenizer.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/2ca9c14a6b14cf1541adfda22e80f62590cd82d21d66ed7a4b12a16b055080f1
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/2ca9c14a6b14cf1541adfda22e80f62590cd82d21d66ed7a4b12a16b055080f1.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/09cca4694ca601a57465034d7a24bb7edfa002c8d81407c78f4842b9bab949ce
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/09cca4694ca601a57465034d7a24bb7edfa002c8d81407c78f4842b9bab949ce.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/e94fb6419b3e7b33ecc08a80e991a5ef97ebbcf424b9474b22349998eb927d84
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/downloads/e94fb6419b3e7b33ecc08a80e991a5ef97ebbcf424b9474b22349998eb927d84.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/iwslt2017/iwslt2017-en-fr/1.0.0/c18a4f81a47ae6fa079fe9d32db288ddde38451d/dataset_info.json
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/iwslt2017/iwslt2017-en-fr/1.0.0/c18a4f81a47ae6fa079fe9d32db288ddde38451d/iwslt2017-test.arrow
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/iwslt2017/iwslt2017-en-fr/1.0.0/c18a4f81a47ae6fa079fe9d32db288ddde38451d/iwslt2017-train.arrow
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/iwslt2017/iwslt2017-en-fr/1.0.0/c18a4f81a47ae6fa079fe9d32db288ddde38451d/iwslt2017-validation.arrow
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/sacrebleu/default/default_experiment-1-0.arrow
CS 584/Homework/HW4/A4_AkshayParate/a4-data/dataset/sacrebleu/default/default_experiment-1-0.arrow.lock
CS 584/CS584-Lecture-Notes-Template.zip
CS 584/CS584A_Assignment2.3.zip
CS 513/.ipynb_checkpoints/Akshay_Parate_HW02_EDA-checkpoint.ipynb
